.cart-list {
  &__product {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: bold;
  }

  &__actions-remove {
  }

  &__actions-increase {
    background-color: #ccc;
    width: 50%;
    margin-bottom: 10px;

    &:hover {
      background-color: #c1c1c1;
    }
  }
  &__actions-decrease {
    background-color: #ddd;
    width: 50%;
    margin-bottom: 10px;
    &:hover {
      background-color: #d1d1d1;
    }
  }
}
